@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 100; }
}

.start-window {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(79, 79, 79);
  padding: 40px;
  gap: 30px;
  border-radius: 20px;
  animation: fadeIn 0.5s ease-in;
}

.start-window > button {
  border: none;
  background-color: rgb(47, 23, 70);
  padding: 20px;
  color: aliceblue;
  border-radius: 20px;
  transition: 0.5s;
}

h2 {
  margin: 0px;
}

.background-div {
  background-color: rgba(41, 41, 41, 0.8);
  width: 100%;
  height: calc(100vh - 150px);
  position: absolute;
}

.start-window > button:hover {
  cursor: pointer;
  background-color: rgb(79, 39, 119);
  outline: 1px solid rebeccapurple;
}