@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 100; }
}

.start-window {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(69, 69, 54);
  padding: 40px;
  gap: 30px;
  border-radius: 20px;
  animation: fadeIn 0.5s ease-in;
}

.start-window > button {
  border: none;
  background-color: rgb(160, 65, 65);
  padding: 20px;
  color: aliceblue;
  border-radius: 20px;
}

h2 {
  margin: 0px;
}

.background-div {
  background-color: rgba(69, 69, 54, 0.4);
  width: 100%;
  height: calc(100vh - 150px);
}

.start-window > button:hover {
  cursor: pointer;
  background-color: gray;
  transition: 0.5s;
}