@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

header {
  background-color: rgb(47, 23, 70);
  padding: 10px 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
  position: relative;
  animation: fadeIn 0.5s ease-in;
  box-shadow: 5px 0px 20px rgb(18, 18, 18);
}

header > h1 {
  font-family: 'Rubik Iso', cursive, sans-serif;
}

header p {
  font-size: 1.2rem;
  margin: 5px;
}

.scores {
  display: flex;
  flex-direction: column;
}

@media (max-width: 680px) {
  h1 {
    font-size: 1rem;
    max-width: 6ch;
  }

  header p {
    font-size: 0.8rem;
  }
}
